.nav {
    text-align: right;
    
}   

.nav ul {
    display: flex;
   
}

.nav ul li {
    display: block;
    margin: 0 0.7em;
    transform: translate(0, -5em);
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

nav ul li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
    transform: translate(0, -5em);
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

nav ul li:nth-child(1) { transition-delay: 0.55s; }
nav ul li:nth-child(2) { transition-delay: 0.4s; }
nav ul li:nth-child(3) { transition-delay: 0.25s; }
nav ul li:nth-child(4) { transition-delay: 0.1s; }


.loaded nav ul li {
    opacity: 1;
    transform: translate(0, 0);
}

nav ul li a {
    display: block;
    padding: 0.5em 1em;
    background: rgba(0,0,0,0.3);
    border-radius: 0.2em;
    transition: background 0.3s ease-in;
}

.nav a {
    display: flex;
    padding: 0.4em 0.8em;
    background-color: rgb(240, 234, 223);
    color: #333;
    text-decoration: none;
    border-radius: 0.3em;
}

.nav a:hover {
    background: #090;
    color: #FFF;
    font-weight: 700;
}

.nav li a:before {
    display: block;
    margin-right: 0.5em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.nav li.page-title-gallery a:before {
    content: '\f302';
}

.nav li.page-title-contacts a:before {
    content: '\f2a0';
}

.nav li.page-title-home a:before {
    content: '\f015';
}

.nav li.page-title-news a:before {
    content: '\f1ea';
}


header  h1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.6s, transform 0.5s ease-in-out 0.6s;
}

header  h1 {
    transform: translateX(-50vw);
}

.loaded header h1 {
    transform: translateX(0);
    opacity: 1;
}