html {
    font-size: var(--font-size, 18px);
    line-height: var(--font-line-height, 1.5);
    font-family: var(--font-family-main, 'Verdana, sans-serif');
}

body, form, input, textarea, option, select, button {
    font: inherit;
    background-color: rgb(240, 234, 223);
}

p, ul, ol {
    
}

ul, ol {
    padding-left: 2.5em;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-headings, var(--font-family-main));
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a{
    text-decoration: none;
}

.site-branding h1 a{
    color: white;
}

blockquote {
    border-left: 4px solid rgb(221,221,221);
    font-family: Georgia, serif;
    font-style: italic;
    opacity: 0.8;
    width: 30%;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1em;
    float: right;
}

blockquote p{
    font-style: italic;
}

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.8;
}

blockquote .author:before {
    display: inline-block;
    content: '\2014';
    padding-right: 0.8em;
}
