
.wrapper{
    max-width: var(--layout-width, 60em);
    margin: 0 auto;
}

.site-header { 
    align-items: center;
    background-color: green;
    width: 100%;
}

.site-header .wrapper{
    display: flex;
    justify-content: space-between;
}