.index-hr{
    width: 50%;
    margin: 2em auto;
    height: 5px;
    background-color: burlywood;
    background-color: #7D6962;
    border: none;
    border-radius: 50%;
    
}

.entries-lable, .site-lable {
    padding-left: 1em;
    font-size: 2.6em;
    font-style: italic;
    background-color: rgb(36, 29, 27);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    background-clip: text;
    
}

.entry {
    display: flex;
    height: 20em;
    background: #F8F8F8;
    position: relative;
    z-index: 30;
    top: 1em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
    margin-bottom: 2em;
}
.entry:hover img {
    transform: translate( -50%, -50% ) scale(1.2);
}

.entry:hover .entry-title a {
    color: #3a5012;
}

.entry-media {
    flex: 0 0 50%;
    position: relative;
    overflow: hidden;
}

.entry-media:before {
    display: block;
    content: '';
    padding-top: 80%;
}

.entry-media img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform-origin: center;
    transform: translate( -50%, -50% );
    transition: transform 0.3s ease-in-out;
}

.entry-media:hover img {
    transform: translate( -50%, -50% ) scale(1.2);
}

.entry-content {
    background: #FFF;
    margin: 2em 2em 2em -2em;
    position: relative;
    z-index: 20;
    box-shadow: 0 0 1.5em 0 rgba( 0, 0, 0, 0.2);
    padding: 2em;
    overflow: hidden;
}

.entry-title {
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 2em;
}

.entry-content a,.entry-content p, .worker-info h4, .worker-info p {
    color: var(--color-pimary);
}

.entry-meta {
    margin-bottom: 1em;
}

.entry-meta a{
    margin-bottom: 1em;
    font-style: italic;

}

.entry:nth-child(even) .entry-media {
    order: 2;
}

.entry:nth-child(even) .entry-content {
    margin: 2em -2em 2em 2em;
}

.quote{
    margin: 1em 0;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F8;
    top: 1em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.4);
}

.quote .entries-lable{
    font-size: 0.9em;
    font-weight: 700;
    font-style: italic;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-left: 1.5rem;
}


.staff{
    display: flex;
    background: #F8F8F8;
    padding: 1em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.4);
}
.worker{
    display: flex;
}

.staff h4{
    font-style: italic;
    text-align: center;
   font-size: 2em;
}

.worker span{
   display: block;
}

.worker .worker-avatar {
   width: 10em;
   margin: 0 auto;
   margin-bottom: 1.5em;
}

.worker-avatar {
   display: block;
   border-radius: 50%;
   overflow: hidden;
   position: relative;
   box-shadow: 0 0.2em 0.5rem 0 rgba(0,0,0,0.3);
  
}

.worker-avatar:before,
.worker-avatar:after {
   display: block;
   content: '';
}

.worker-avatar:before {
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   border-radius: 50%;
   box-shadow: 0 0 0 4px rgba(255,255,255,0.5) inset;
   z-index: 10;
   pointer-events: none;
}

.worker-avatar:after {
   padding-top: 100%;
}

.worker-avatar img {
   display: block;
   width: 100%;
   height: auto;
   position: absolute;
   top: 50%; left: 0%;
   transform: translateY(-50%);
   z-index: 5;
}

.worker-info{
   flex: 0 0 75%;
   margin-left: 1em;
}

.worker-info p{
   font-size: 0.9em;
 }

@media ( max-width: 999px ) {

    .quote{
        flex-wrap: wrap;
    }

    .quote .entries-lable{

        padding-left: 1rem;
    }

    blockquote {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.2em;
}

    .entry{
        display: block;
        height: 58vh;
    }

    .entry-media {
        height:  45%;
    }

    .entry-content {
        max-height: 50%;
    }
    
    .entry-media img {
        width: 92%;
    }
    
    .entry:nth-child(even) .entry-content {
        margin: 2em 2em 2em 2em;
    }

    .entry:nth-child(odd) .entry-content {
        margin: 2em 2em 2em 2em;
    }
    
}

@media ( max-width: 650px ) {
html {
    font-size: 16px; 
}
.entry-title {
    font-size: 2em;
}

.entry-media img {
    width: 92%;
}

.entry:nth-child(even) .entry-content {
    margin: 1em;
}

.entry:nth-child(odd) .entry-content {
    margin: 1em;
}

blockquote { 
    width: 90%;
    margin-bottom: 1em;
}

.quote{
    flex-direction: column;
}

.quote .entries-lable{
    font-size: 1.2em;
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    margin-bottom: 1em;
}

.worker{
    flex-direction: column;
}

.worker .worker-info{
    flex-direction: column;
    flex: 0 0 50%;
    margin-left: 0 auto;
}


.staff p{
   font-size: 0.8em;
}

}

@media ( max-width: 465px ) {
    .entry{
        display: block;
        height: 52vh;
    }

    html {
        font-size: 14px;
    }
}

@media ( max-width: 370px ) {
    .entry{
        display: block;
        height: 48vh;
    }
    html {
        font-size: 12px;
    }
}


