body{

}


.wrapper{
    max-width: var(--layout-width, 60em);
    margin: 0 auto;
}

.site-header, .site-footer { 
    align-items: center;
    background: rgb(36,14,0);
    background: linear-gradient(90deg, rgba(36,14,0,1) 0%, rgba(120,121,9,1) 50%, rgba(16,154,0,1) 100%);
    width: 100%;
}

.site-header .wrapper, .site-footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer .wrapper{  
    align-items: flex-start;
 
    @include bp(medium){
        flex-direction: column;
        justify-content: center;   
        align-items: center; 
    }
}
