.news{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    box-shadow: var(--box-shadow);

    @include bp(medium){
        display: block;
    }
     
    & aside {
        display: flex;
        flex-direction: column;
        flex: 1 1 20%;
        background-color: white;
        color: #443603;
               
        a{
            color: #443603;
            text-align: center;
            padding: 0.5em 1em;
            font-weight: 700;
            transition: all 0.2s ease-in;
        }
        a:focus, a:hover{
            background-color: #443603;
            color: white;
            
        }       
    }

    & article{
        padding-top: 1rem;
        flex: 0 0 80%;
        position: relative;
        
        a{
            position: absolute;
            color: white;
            text-align: center;
            padding: 0.5em 1em;
            font-weight: 700;
            font-size: 0.9em;
            bottom: 0.5em;
            right: 0.5em;
            transition: all 0.2s ease-in;
        }
        a:focus, a:hover{
            background-color: white;
            color: var(--color-pimary);
            
        }  
    }

    & h2{
        color: white;
    }

    & h6{
        color: rgb(189, 189, 189);
        text-align: left;
        font-style: italic;
        font-size: 0.9em;
        padding-bottom: 0.2em;
    }

    p{
        color: white;
    }

    & article {
        background-color: var(--color-pimary);
        display: none;
      }
    & article:target {
        display: block;
    }
} 

