html {
    font-size: var(--font-size, 18px);
    line-height: var(--font-line-height, 1.5);
    font-family: var(--font-family-main, 'Verdana, sans-serif');
}

body, form, input, textarea, option, select, button {
    font: inherit;
    background-color: rgb(240, 234, 223);
}

p, ul, ol {
    
}

ul, ol {
    padding-left: 2.5em;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-headings, var(--font-family-main));
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a{
    text-decoration: none;
}

.site-branding h1 a{
    color: white;
}

blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
    border-left: 4px solid rgb(221,221,221);
    font-family: Georgia, serif;
    font-style: italic;
    opacity: 0.9;
    width: 30%;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1em;
    float: right;
}

blockquote p{
    font-style: italic;
}

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.9;
}

blockquote .author:before {
    display: inline-block;
    content: '\2014';
    padding-right: 0.8em;
}


.about{
    background-color: rgba(240, 228, 228, 0.6);
    font-size: 1.2em;
    font-weight: 400;
    padding: 2em;
   
 

    @include bp(medium) {
		font-size: 1.1em;
    }
    
    @include bp(small) {
		font-size: 1.0em;
	}

    & p{
        padding-bottom: 1em;
        color: rgb(59, 59, 59);
    }

    & h1,& h6{
        text-decoration: underline;
    }

    & h1{
        text-align: center;
        
    }

    & h6{
        opacity: 0.5;
        text-align: center;
        padding-bottom: 2em;
       
        
    }

& .image {
    width: 16em;
    height: 9em;
    background: rgb(255, 255, 255);
    border: 0.1em solid black;
    margin: 1em;
    padding: 0.3em;
    box-shadow: 0 0 0.5em 0.5em rgba(0,0,0,0.25);
   
}

& .float-right{
    float: right;
}

& .float-left{
    float: left;
}
}  