:root {

    $fa-font-path:        "../webfonts";

    --font-family-main: Verdana, sans-serif;
    --font-family-headings: Palatino Linotype, serif;
    --color-pimary: #7D6962;
    
    --font-size: 16px;
    --font-line-height: 1.5;

    --layout-width: 70em;
    --layout-padding-b: 2em;
}