<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/CSS/fontawesome/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/CSS/site.css">
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
</head>

<body>
    <div class="site">
        <input type="checkbox" id="site-nav-toggle" class="site-nav-toggle" >
        <header class="site-header">
            <div class="wrapper">
                <div class="site-branding">                 
                    <h1 class="site-lable"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
                    <label for="site-nav-toggle" class="site-nav-label">
                            <span class="close"><i class="far fa-list-alt"></i></span>
                            <span class="open"><i class="fas fa-list-alt"></i></span>         
                    </label>
                </div>
                <nav class="site-nav">
                    <ul>
                        {% assign navigation_pages = site.pages | sort:"order" %}
                        {% for page in navigation_pages %}
                        {% if page.title %}
                        <li class="page-title-{{ page.title | slugify }}"><a
                                href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                       
                    </ul>
                    {% if include.location == 'header' %}
                    {% endif %}
                  
                </nav>
            </div>
        </header>

        <main class="site-main">

            {{ content }}

        </main>

        <footer class="site-footer">
            <div class="wrapper">
                <section class="footer-links">
                    <label for="for">Special Thanks</label>
                    <nav>
                        <li><a href="#">Plamen Vasilev</a></li>
                        <li><a href="#">John doe</a></li>
                        <li><a href="#">Stefcho</a></li>
                        <li><a href="#">Maria</a></li>
                        <li><a href="#">Samanta Tanta</a></li>
                    </nav>
                </section>
                <section class="footer-links">
                    <label for="for">Officical Partners</label>
                    <nav>
                        <li><a href="#">Paws World</a></li>
                        <li><a href="#">We Love Bears</a></li>
                        <li><a href="#">Amimal helpers</a></li>
                        <li><a href="#">Green Life</a></li>
                        <li><a href="#">CSS Advanced 12/2019</a></li>
                    </nav>
                </section>
                <section class="footer-links">
                    <label for="for">Social Media</label>
                    <nav>
                        <li><i class="fab fa-facebook-f"></i> <a href="#">{{ site.facebook_username }}</a></li>
                        <li><i class="fas fa-envelope"></i> <a href="#">{{ site.email }}</a></li>
                        <li><i class="fab fa-twitter"></i> <a href="#">{{ site.twitter_username}}</a></li>
                        <li><i class="fab fa-instagram"></i> <a href="#">{{ site.instagram_username}}</a></li>
                        <li><i class="fab fa-github"></i> <a href="https://github.com/PlVasilev/BearWorld">CSS Advanced
                                12/2019</a></li>
                    </nav>
                </section>
                <section class="footer-info">
                    <p><i class="far fa-clock"></i> Open 09:00 - 16:00</p>
                    <a href="{{ site.baseurl }}/contacts">
                        <p><i class="fas fa-map-marker-alt"></i> Rila mountain Belica</p>
                    </a>
                    <p> Bear World &copy; All rights reserved</p>
                </section>
            </div>

            </section>
    </div>
    </footer>
    </div>
</body>

</html>